<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
        <img id="logo" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>

        <p>{{ site.description }}</p>
        
      </header>
      <section>

      {{ content }}
<br><hr><br><br>{{ site.copyright }}<br><br>
<p> <a href ="https://kcac.ca">KCAC Website</a></p><br>
<a href="https://podcasts.apple.com/ca/podcast/living-water-%E6%B4%BB%E6%B0%B4fm/id1629945716">
  <img src="https://lwfm.kcac.ca/assets/img/apple.jpg" width="200"></a><br>
<a href="https://www.instagram.com/qulivingwater/">Follow us on instagram</a><br>
<img src="https://lwfm.kcac.ca/assets/img/lvfm_mail.png" width="200"><br>
<img src="https://kcac.ca/images/KCAC%20Logo%20Long.png" width="140" height="126">
      </section>
     
      
      <script>
			  var ua = navigator.userAgent.toLowerCase();
			  var isWeixin = ua.indexOf('micromessenger') == -1;
			  if (!isWeixin) {
			  window.location.href = "https://kcac.ca/wx-lwfm"
			  }
			  </script>
    </div>
  </body>
</html>
